@use 'sass:color';

@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,700';

$red: #ec4141;
$red-dark: #f29ea0;
$red-accent: #f55a5b;
$blue: #00aeff;
$blue-dark: #82d7ff;
$blue-accent: #27bbff;
$background: #121212;
$surface-1: color.mix($background, white, $weight: 95%);
$surface-2: color.mix($background, white, $weight: 93%);

%relative {
  position: relative;
}

%absolute {
  position: absolute;
}

%font-fam {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial,
    Helvetica, sans-serif;
}

%font-24 {
  font-size: 24px;
}

%transition {
  transition: 0.2s ease;
}

%color-primary {
  color: $red-dark;
}

%w-100 {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  @extend %font-fam;
  background: $background;
  color: white;
  min-height: 100vh;
}

input:focus {
  outline: 0;
}

.btn:focus {
  box-shadow: none !important;
}

.social-links {
  a:not(:last-child) {
    margin-right: 1rem;
  }

  svg {
    @extend %transition;
    fill: #444;

    &:hover {
      @extend %transition;
      fill: $red-dark;
    }
  }
}

.table-square-space {
  width: 65px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0.5rem;
}

hr {
  border: 1px solid $red-accent;
  margin: 0;
  width: 20px;
  height: 1px;
  box-sizing: border-box;
}

.cookie-info {
  @extend %w-100;
  display: none;
  position: fixed;
  bottom: 0;
  background: #212223;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  z-index: 50;
  text-align: center;
}

.cookie-close {
  padding: 0.5rem;
  cursor: pointer;
  svg {
    width: 15px;
    height: 15px;
    fill: #ddd;
  }
}

.btn-danger {
  background-color: $red-dark;
  border-color: $red-dark;
  color: black;
  &:hover {
    background-color: $red-accent;
    border-color: $red-accent;
  }
  &:disabled {
    background-color: $surface-2;
    border-color: $surface-2;
    color: white;
  }
}

.adsbygoogle {
  @extend %w-100;
  display: block;
  overflow: hidden;
}

.evade::after {
  @extend %font-fam;
  content: ' firmy Librus';
}

a {
  @extend %transition;
  color: $red-dark;
  &:hover {
    @extend %transition;
    color: $red-accent;
  }
}

.bg {
  &-black {
    background: $surface-1;
  }
  &-surface {
    &-1 {
      background: $surface-1;
    }
    &-2 {
      background: $surface-2;
    }
  }
  &-blue {
    background: $blue-dark;
    color: black;
  }
  &-red {
    background: $red-dark;
    color: black;
  }
}
