meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="keywords" content="ccwe, centrum cyfrowego wsparcia edukacji, frekwencja, obliczanie frekwencji, kalkulator frekwencji, średnia, średnia ważona, librus, synergia")
meta(name="description" content="Szybko i prosto sprawdź swoją aktualną frekwencję oraz średnie ważone na zajęciach szkolnych!")
meta(name="language" content="pl")
meta(name="robots" content="index, follow")
meta(name="author" content="@pinkie-py")
meta(name="creator" content="Centrum Cyfrowego Wsparcia Edukacji")
meta(name="theme-color" content="#121212")
meta(name="mobile-web-app-capable" content="yes")